$mid-black: rgb(45, 45, 45);
$soft-grey: rgb(74, 74, 74);
$mid-grey: rgb(128, 128, 128);
$light-grey: rgb(144, 144, 144);
$soft-white: rgba(255, 255, 255, 0.8);
$light-red: rgb(255, 45, 45);
$light-yellow: rgb(248, 248, 60);
$dark-green: rgb(0, 128, 0);
$light-green: rgb(55, 167, 55);
$light-blue: rgb(98, 98, 255);