* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    -ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

*:focus {
    outline: none;
}

li {
    list-style-type: none;
    marker: none;
}

.extend {
    position: absolute;
    z-index: 5000;
    top: 0;
    left: calc(100% - 2rem);
    width: 2rem;
    height: 2rem;
    background-color: $soft-white;
    opacity: 0.3;
    transition: all ease 250ms;
    i {
        font-size: 2rem;
        color: $mid-black;
    }
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.hidden {
    display: none !important;
}

html {
    font-size: 10px;
}

body {
    background-color: $mid-black;
    display: grid;
    grid-template-rows: 6rem 1fr 1fr 1fr 6rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "header header header header header"
    "table2 map-wrapper map-wrapper table1 table1"
    "table2 map-wrapper map-wrapper table1 table1"
    "table2 map-wrapper map-wrapper graph graph"
    "footer footer footer footer footer";
    flex-direction: column;
    grid-gap: 1rem;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    @media only screen and (max-width: 1023px) {
        grid-template-rows: 6rem 60rem 30rem 30rem 30rem 6rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "map-wrapper map-wrapper map-wrapper map-wrapper map-wrapper"
        "table2 table2 table1 table1 table1"
        "table2 table2 table1 table1 table1"
        "graph graph graph graph graph"
        "footer footer footer footer footer";
        width: 100%;
        min-height: 100vh;
        height: 100%;
    }
    @media only screen and (max-width: 768px) {
        grid-template-rows: 6rem 60rem 60rem 60rem 30rem 6rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "map-wrapper map-wrapper map-wrapper map-wrapper map-wrapper"
        "table2 table2 table2 table2 table2"
        "table1 table1 table1 table1 table1"
        "graph graph graph graph graph"
        "footer footer footer footer footer";
        width: 100%;
        min-height: 100vh;
        height: 100%;
    }
    &.table1-full {
        grid-template-rows: 6rem 1fr 1fr 1fr 6rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "table1 table1 table1 table1 table1"
        "table1 table1 table1 table1 table1"
        "table1 table1 table1 table1 table1"
        "footer footer footer footer footer";
    }
    &.table2-full {
        grid-template-rows: 6rem 1fr 1fr 1fr 6rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "table2 table2 table2 table2 table2"
        "table2 table2 table2 table2 table2"
        "table2 table2 table2 table2 table2"
        "footer footer footer footer footer";
    }
    &.graph-full {
        grid-template-rows: 6rem 1fr 1fr 1fr 6rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "graph graph graph graph graph"
        "graph graph graph graph graph"
        "graph graph graph graph graph"
        "footer footer footer footer footer";
    }
    &.map-wrapper-full {
        grid-template-rows: 6rem 1fr 1fr 1fr 6rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "map-wrapper map-wrapper map-wrapper map-wrapper map-wrapper"
        "map-wrapper map-wrapper map-wrapper map-wrapper map-wrapper"
        "map-wrapper map-wrapper map-wrapper map-wrapper map-wrapper"
        "footer footer footer footer footer";
    }
}

.header {
    grid-area: header;
    background-color: $soft-grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
    .search-container {
        position: absolute;
        z-index: 5500;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        .search-button {
            top: 1rem;
            right: 1rem;
            font-size: 4rem;
            color: $soft-white;
            transition: all ease 250ms;
        }
        &:hover {
            cursor: pointer;
            background-color: $light-grey;
            .search-button {
                color: $mid-black;
            }
        }
    }
    .corona {
        margin: 0 0.5rem;
        font-size: 3rem;
        color: $soft-white;
    }
    .title {
        @include h1($soft-white);
    }
    @media only screen and (max-width: 1023px) {
        position: fixed;
        z-index: 5500;
        top: 0;
        width: 100%;
        min-width: 48rem;
        box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.24), 0 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.48);
    }
}

.table1 {
    grid-area: table1;
    position: relative;
    background: $soft-grey;
    border: 0.1rem solid $mid-grey;
    .space {
        width: 100%;
        min-height: 1rem;
        max-height: 1rem;
        background-color: $mid-black;
    }
    .date-info {
        position: absolute;
        top: 0;
        left: calc(100% - 36rem);
        z-index: 500;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 34rem;
        min-height: 2rem;
        max-height: 2rem;
        border-bottom: 0.1rem solid $mid-grey;
        border-left: 0.1rem solid $mid-grey;
        .date,
        .title {
            @include date-info-text($soft-white);
        }
    }
    .common-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 7rem;
        border-bottom: 0.1rem solid $mid-grey;
        background-color: $mid-black;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 6rem;
            .title {
                margin-top: 0.6rem;
                @include table-title($soft-white);
            }
            .subtitle {
                @include table-subtitle($soft-white);
                letter-spacing: 0.1rem;
            }
            &.recover {
                & > p {
                    color: $light-green
                }
            }
            &.death {
                & > p {
                    color: $light-blue
                }
            }
        }
    }
    .control {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 6rem;
        .button {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            min-width: 10rem;
            height: 4rem;
            background-color: $mid-black;
            transition: all ease 150ms;
            border: 0rem solid $light-green;
            border-radius: 0.3rem;
            i {
                font-size: 3.2rem;
                color: $soft-white;
            }
            span {
                @include button-text($soft-white);
            }
            &:hover {
                cursor: pointer;
                border: 0.3rem solid $light-green;
            }
        }
    }
    .table {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 30rem;
        border: none;
        border-spacing: 0;
        .head {
            display: flex;
            width: 100%;
            background-color: $mid-grey;
            border-bottom: 0.1rem solid $mid-grey;
            transition: all ease 300ms;
            span {
                @include table-th-text($soft-white);
                display: block;
                width: 25%;
                &.name {
                    width: 40%;
                }
                &.count {
                    width: 20%;
                    text-align: end;
                    padding-right: 1.6rem;
                }
            }
        }
        .body {
            display: grid;
            grid-template-rows: repeat(auto-fill, 2rem);
            overflow-y: auto;
            .item {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                transition: all ease 200ms;
                &:nth-child(2n+1) {
                    background-color: $mid-black;
                }
                .td {
                    text-align: start;
                    @include table-td-text($soft-white);
                    &.count {
                        text-align: end;
                    }
                }
                &:hover {
                    cursor: pointer;
                    background-color: $mid-grey;
                }
                &.active {
                    background-color: $dark-green !important;
                }
            }
        }
    }
}

.table2 {
    grid-area: table2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $soft-grey;
    border: 0.1rem solid $mid-grey;
    .space {
        width: 100%;
        min-height: 1rem;
        max-height: 1rem;
        background-color: $mid-black;
    }
    .search-container {
        position: absolute;
        top: 0;
        left: calc(100% - 20rem);
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 18rem;
        height: 2rem;
        .search-input {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            size: 14rem;
            border: none;
            border-bottom: 0.1rem solid $mid-grey;
            border-left: 0.1rem solid $mid-grey;
            background-color: $mid-black;
            font-family: Roboto;
            font-size: 1.6rem;
            color: $soft-white;
        }
        .search {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
            border-right: 0.1rem solid $mid-grey;
            border-bottom: 0.1rem solid $mid-grey;
            color: $mid-grey;
        }
        .cancel {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
            background-color: $soft-white;
            opacity: 0.3;
            transition: all ease 250ms;
            color: $mid-black;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
        
    }
    .control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        i {
            font-size: 2rem;
            color: $mid-grey;
            transition: color ease 250ms;
            &:hover {
                cursor: pointer;
                color: $soft-white;
            }
        }
        &-title {
            @include h3($soft-white);
            text-transform: lowercase;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $mid-black;
        width: 100%;
        min-height: 7rem;
        max-height: 7rem;
        border-bottom: 1px solid $mid-grey;
        .title {
            @include table-title($soft-white);
            text-transform: capitalize;
            margin-top: 0.6rem;
        }
        .subtitle {
            @include table-subtitle($soft-white);
            letter-spacing: 0.1rem;
            color: $light-red;
        }
    }
    .country-list {
        overflow-y: auto;
        width: 100%;
        border-top: 0.1rem solid $mid-grey;
        &-item {
            @include list-item($soft-white);
            text-align: left;
            display: flex;
            justify-content: space-between;
            padding: 0 0.6rem;
            border-bottom: 0.1rem solid $mid-grey;
            background-color: $mid-black;
            transition: all ease 150ms;
            .country {
                display: flex;
                flex-direction: row;
                justify-content: start;
                img {
                    margin: auto 0;
                    width: 1.8rem;
                    height: 1.2rem;
                    margin-right: 0.3rem;
                }
                .name {
                    font-size: 1.6rem;
                }
            }
            .count {
                font-size: 1.4rem;
            }
            &.hidden {
                display: none;
            }
            &.active {
                background-color: $dark-green !important;
            }
            &:hover {
                cursor: pointer;
                background-color: $mid-grey;
            }
        }
    }
    @media only screen and (max-width: 650px) {
        .control {
            i {
                font-size: 1.8rem;
            }
            &-title {
                font-size: 1.6rem;
            }
        }
    }
}

.map-wrapper {
    filter: grayscale(30%);
    grid-area: map-wrapper;
    position: relative;
    background: $soft-grey;
    border: 0.1rem solid $mid-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    .controls {
        width: 100%;
        min-height: 2rem;
        border-bottom: 0.1rem solid $mid-grey;
    }
    .map-container {
        width: 100%;
        height: 100%;
        max-width: 1000px;
    }
}

.graph {
    grid-area: graph;
    position: relative;
    display: flex;
    flex-direction: column;
    background: $soft-grey;
    border: 0.1rem solid $mid-grey;
    .control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 2rem;
        max-height: 2rem;
        border-bottom: 0.1rem solid $mid-grey;
        i {
            font-size: 2rem;
            color: $mid-grey;
            transition: color ease 250ms;
            &:hover {
                cursor: pointer;
                color: $soft-white;
            }
        }
        &-title {
            @include h3($soft-white);
        }
    }
    .graph-container {
        width: 100%;
        height: 100%;
        position: relative;
        min-height: 160px;
        display: flex;
        justify-content: center;
        .chart-container {
            width: 95%;
            height: 100%;
            position: absolute
        }
    }
}

.footer {
    grid-area: footer;
    background-color: $soft-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    .course-logo {
        width: 8rem;
        height: 4rem;
    }
    .authors {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        .author {
            @include h4($soft-white);
        }
    }
}