@mixin h1($color) {
    font-family: Roboto;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $color;
}
@mixin h2($color) {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 400;
    color: $color;
}
@mixin h3($color) {
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 400;
    color: $color;
}
@mixin h4($color) {
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color;
}
@mixin table-title($color) {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 400;
    color: $color;
}
@mixin table-subtitle($color) {
    font-family: Roboto;
    font-size: 2.4rem;
    font-weight: 400;
    color: $color;
}
@mixin table-subtitle-count($color) {
    font-family: Roboto;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    color: $color;
}
@mixin list-item($color) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: $color;
}
@mixin table-th-text($color) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: $color;
}
@mixin table-td-text($color) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: capitalize;
    color: $color;
}
@mixin button-text($color) {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 400;
    color: $color;
}
@mixin date-info-text($color) {
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 6%;
    color: $color;
}
